In [26]:
import pandas as pd 
import os

os.getcwd()

'/Users/kamil/Documents/insomnyak-llc/development/python-dev/udemy_data_science_course_5499048'

In [27]:
movies = pd.read_csv('data/P4-Movie-Ratings.csv')

In [28]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film                         559 non-null object
Genre                        559 non-null object
Rotten Tomatoes Ratings %    559 non-null int64
Audience Ratings %           559 non-null int64
Budget (million $)           559 non-null int64
Year of release              559 non-null int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [29]:
movies.columns

Index(['Film', 'Genre', 'Rotten Tomatoes Ratings %', 'Audience Ratings %',
       'Budget (million $)', 'Year of release'],
      dtype='object')

In [30]:
movies.columns = ['Film', 'Genre', 'CriticRating', 'AudienceRating', \
    'BudgetMillions', 'YearOfRelease']
movies.head()

,Film,Genre,CriticRating,AudienceRating,BudgetMillions,YearOfRelease
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [31]:
movies.describe()

       CriticRating  AudienceRating  BudgetMillions  YearOfRelease
count    559.000000      559.000000      559.000000     559.000000
mean      47.309481       58.744186       50.236136    2009.152057
std       26.413091       16.826887       48.731817       1.362632
min        0.000000        0.000000        0.000000    2007.000000
25%       25.000000       47.000000       20.000000    2008.000000
50%       46.000000       58.000000       35.000000    2009.000000
75%       70.000000       72.000000       65.000000    2010.000000
max       97.000000       96.000000      300.000000    2011.000000

In [38]:
movies.Film = movies.Film.astype('category') # in R, categories are called factors
movies.Genre = movies.Genre.astype('category')
movies.YearOfRelease = movies.YearOfRelease.astype('category')

In [39]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film              559 non-null category
Genre             559 non-null category
CriticRating      559 non-null int64
AudienceRating    559 non-null int64
BudgetMillions    559 non-null int64
YearOfRelease     559 non-null category
dtypes: category(3), int64(3)
memory usage: 40.3 KB

In [41]:
movies.Genre.cat.categories

Index(['Action', 'Adventure', 'Comedy', 'Drama', 'Horror', 'Romance',
       'Thriller'],
      dtype='object')

In [42]:
movies.describe()

       CriticRating  AudienceRating  BudgetMillions
count    559.000000      559.000000      559.000000
mean      47.309481       58.744186       50.236136
std       26.413091       16.826887       48.731817
min        0.000000        0.000000        0.000000
25%       25.000000       47.000000       20.000000
50%       46.000000       58.000000       35.000000
75%       70.000000       72.000000       65.000000
max       97.000000       96.000000      300.000000